{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "dist/**",
    "lib/**"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "lib/proto/**",
    "**/*.d.ts",
    "**/*.spec.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}
